#!/bin/bash
for structure in AFI BCT CAN GIS GME SOD ; do
 # zif_CAN_cif_gin_all
 folder=zif_${structure}_cif_gin_all
 cd $folder
 for f in *_2cbim_*.cif; do
  mv "$f" $(echo $f | sed 's/_2cbim_/_2cb_/g')
 done
 for f in *_2mbim_*.cif; do
  mv "$f" $(echo $f | sed 's/_2mbim_/_2mb_/g')
 done
 for f in *_2nbim_*.cif; do
  mv "$f" $(echo $f | sed 's/_2nbim_/_2nb_/g')
 done
 for f in *_45dmim_*.cif; do
  mv "$f" $(echo $f | sed 's/_45dmim_/_2mi_/g')
 done
 for f in *_45dnim_*.cif; do
  mv "$f" $(echo $f | sed 's/_45dnim_/_2ni_/g')
 done
 for f in *_dcim_*.cif; do
  mv "$f" $(echo $f | sed 's/_dcim_/_cim_/g')
 done
 for f in *_im_*.cif; do
  mv "$f" $(echo $f | sed 's/_im_/_imi_/g')
 done
 cd ..
done
